<app-headerX></app-headerX>
<div fxLayoutAlign = "center center" fxFlexFill class="main-div"> <!-- cnter on x's and y's  && fill to center of screen-->
    <mat-card fxFlex = "25"> <!-- take 50% of the screen -->
        <mat-toolbar color = "primary" fxLayoutAlign = "center center">
            <span>Welcome to Our TodoList Application</span>
        </mat-toolbar>
        <form fxLayoutAlign = "stretch" fxLayout = "column" class="signup-form" (submit)="onAddUser()">
            <mat-form-field class="signup-full-width">
                <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                    placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field >
              <input matInput placeholder="Username">
            </mat-form-field>
          
            <mat-form-field >
                <input matInput type = "password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
                    placeholder="Password">
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    password is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <button
                mat-raised-button
                color = "primary"
                type = "submit">Register</button>
          </form>
    </mat-card>
</div>